*{
    margin: 0;
}

.nav-bar{
    background-color: black;
    display: flex;
    width: 100%;
}

.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.nav-links a{
    text-decoration: none;
    color: white;
 }
 
 .nav-links li{
     list-style-type: none;
 }

.log-form{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 200px 0 0 550px;
    padding: 10px;
}

.reg-form{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 120px 0 0 550px;
    padding: 10px;
}

.rtxt{
    margin: 10px 0 0 500px;
}


.wlc-main{
    margin: 270px 0 0 600px;
}

.wlc-btn{
    
    font-size: 20px;
    width: 450px;
    border-radius: 15px;
    background-color: #F7971E;
    color: black;
    height: 100px;
}

.wlc-btn:hover{
    background-color: black;
    color: #ffb356;
    height: 102px;
    width: 453px;

}

